<div class="container">
  <div class="w-25">
    <%= simple_form_for(@cocktail) do |f| %>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
      <%= f.submit %>
    <% end %>
  </div>
</div>